/hardware/altium_source/phywhisperer_usb_3d/History/
/hardware/altium_source/phywhisperer_usb_pcb/__Previews/
/hardware/altium_source/phywhisperer_usb_pcb/History/
/hardware/altium_source/phywhisperer_usb_pcb/Project Logs for cwtrigger_usb
/hardware/altium_source/phywhisperer_usb_pcb/Project Outputs for cwtrigger_usb/
/software/phywhisperer.egg-info
/software/phywhisperer.egg-info
*.pyc
*.vcd
*.gtkw
a.out
/firmware/phywhisperer/objdir/
/firmware/phywhisperer/objdir/
/docs/_build/
/drivers/phywhisperer_windows_drivers/
/software/phywhisperer.egg-info/
/software/phywhisperer.egg-info/
/software/phywhisperer/firmware/__pycache__/
*.jou
*.pb
*.bat
*.log
*.rpt
*.rpx
*.xml
*.wdf
*.txt
*.sh
*.rst
*.tcl
*.vdi
*.dcp
*.js
