## NewAE .rules file to enable PhyWhisperer to easily take control
#
# To use this file
# 1) Unplug all NewAE hardware
# 2) Copy this file to /etc/udev/rules.d/
# 3) Add your username to the chipwhisperer group:
#    $ sudo usermod -aG chipwhisperer $USER
# 4) Reset the udev system:
#    $ sudo udevadm control --reload-rules
# 5) Log in/out again for changes to take effect
# 6) Connect hardware
#
# Match all CW devices
SUBSYSTEM=="usb", ATTRS{idVendor}=="2b3e", ATTRS{idProduct}=="ace[0-9]|c[3-6][0-9][0-9]", TAG+="uaccess", MODE="0664", GROUP="chipwhisperer"
